.DS_Store
node_modules
/dist


# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.mp3
*.wav
*.mp4
*.flac
*.webp
*.zip
*.opus
python/essentia/*.png
python/visualization_tools/*.png
python/auto_transcribe/melodic_contours/*.png
credentials

#Electron-builder output
/dist_electron

.envrc
docs
.direnv
idtp_env

__pycache__

python/auto_transcribe/extraction/clips/
python/auto_transcribe/clips/
python/auto_transcribe/beeps/
python/auto_transcribe/melodic_contours/*.png
